[user]
email = david@exultantmonkey.co.uk
name = David William Richmond Davies-Jones
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIERUXjz3kx8oYCGA8ue7vNui0WTj64wOHLCITuiwlNom

[core]
editor = nano
autocrlf = true

[init]
defaultBranch = main

[fetch]
prune = true

[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true